.box {
  width: 33%;
  min-width: 250px;
  height: 200px;
  border: 1px solid black;
  border-radius: 3px;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.aktiviteetit{
  background:#ffde22;
	background-color:hsl(36, 82%, 51%);
	border:1px solid #a56600;
}

.rahoitus{
  background:#f84235;
	background-color:#df4638;
	border:1px solid #a31c10;
}

.kilpailutukset {
  background:#dfbdfa;
	background-color:#d9aaff;
	border:1px solid #c584f3;
}

.messut {
  background:#79bbff;
	background-color:#60b0ff;
	border:1px solid #337bc4;
}

.markkinointi {
	background: #74ad5a;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
}

.task {
  position: relative;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
  margin: 6px;
  width: fit-content;
  border-radius: 3px;
}

.task .info {
  visibility: hidden;
  width: 120px;
  background-color: rgb(34, 30, 30);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 105%;  
}

.task:hover .info {
  visibility: visible;
}

.starIcon{
  margin-left: 5px;
}