.aktiviteetit{
  background:#ffde22;
	background-color:hsl(36, 82%, 51%);
	border:1px solid #a56600;
}

.rahoitus{
  background:#f84235;
	background-color:#df4638;
	border:1px solid #a31c10;
}

.kilpailutukset {
  background:#dfbdfa;
	background-color:#d9aaff;
	border:1px solid #c584f3;
}

.messut {
  background:#79bbff;
	background-color:#60b0ff;
	border:1px solid #337bc4;
}

.markkinointi {
	background: #74ad5a;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
}

.box {
  width: 33%;
  min-width: 250px;
  height: 200px;
  border: 1px solid black;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  text-align: center;
  text-decoration: underline;
  position: sticky;
  top:0;
  background: floralwhite;
  padding: 1px;
  width: 100%;
  z-index: 1;
}

.starIcon{
  margin-left: 0px;
}

.task {
  position: relative;
	color:#ffffff;
	font-weight:bold;
	padding:6px 12px;
  margin: 6px;
  width: fit-content;
  border-radius: 3px;
  word-break: break-word;
}

.taskContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.info {
  width: fit-content;
  background-color: rgb(58, 58, 58);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
}

.editIcon {
  cursor: pointer;
}