.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.year {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.infoContainer {
  display: flex;
  justify-content: space-around;
}

.actContainer{
  margin-top: 20px;
}

.starContainer {
  margin-top: 20px;
}

.starIcon {
  font-size: 35px;
}

.addIcon {
  font-size: 50px;
  position: relative;
  float: right;
  top: -80px;
  text-align: end;
  cursor: pointer;
  width: 2px;
  font-size: large;
  font-weight: bold;
}