.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.year {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  word-break: break-all;
}

.infoContainer {
  display: flex;
  justify-content: space-around;
}

.actContainer{
  margin-top: 20px;
}

.starContainer {
  margin-top: 20px;
}

.starIcon {
  font-size: 35px;
}

.addIcon {
  font-size: 50px;
  position: relative;
  float: right;
  top: -80px;
  text-align: end;
  cursor: pointer;
}

.info {
  width: fit-content;
  background-color: rgb(58, 58, 58);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 5px;
}

.infoNotLogged{
  font-size: larger;
  margin: 10px;
  padding: 5px;
  border-bottom: double green;
}