.container {
    border: 1px solid lightgrey;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    padding: 50px;
    border-radius: 25px;
    text-align: left;
    background-color: floralwhite;
  }

.sections {
    margin: 5vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
  }
  
  .sections > div{
    width: auto;
    margin-top: 5vh;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    color:#ffffff;
  }  
  
  .sec {
      box-shadow:inset 0px 1px 0px 0px #acacac;
      background-color: rgba(0, 0, 0, 0.5);
      border:1px solid black;
      text-align: center;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
  }
  .sec:hover {
      background:linear-gradient(to bottom, #00000071 5%, #4e4e4e3b 70%);
  }
  .sec:active {
      position:relative;
      top:1px;
  }