.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:10vh;
  min-height: 23px;
  background-color: aqua;
  -webkit-box-shadow: 5px 5px 50px 5px #000000; 
  box-shadow: 5px 5px 50px 5px #000000;
}

.hamIcon {
  height: 6vh;
  margin-left: 2vw;
}

.menuTitle {
  color: black;
}

.icon{
color: red;
margin-right: 2vw;
}

