.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:10vh;
  min-height: 23px;
  max-height: 51px;
  background-color: #5b8a3c88;
}

.menuTitle {
  color: black;
}

@media only screen and (min-width: 992px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:15vh;
    min-height: 23px;
    max-height: 115px;
    background-color: #5b8a3c88;
  }
}

.icons{
  font-size: 36px!important;
  margin-left: 2vw;
  margin-right: 2vw;
}