html {
  background-image: url("pelto3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family:Arial;
}

a{
  text-decoration: none;
  color: azure;
}

.container{
  padding-left: 1vw;
  padding-right: 1vw;
}